@charset "UTF-8";

body {
	margin-top:0;
	margin-left:0;
	margin-right:0;
}

.space  {
	max-width:1170px;
	margin: 0 auto;
	padding-left:20px;
	padding-right:20px;
}

* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#home {
	background-image:url(../images/laptop.png);
	background-color:#f8e514;
	overflow:auto;
	
}

header {
	background-color:white;
	overflow:auto;
	margin-top:20px;
	margin-bottom:10px;
}

#umbrella-logo {
	float:left;
	width:70px;
	height:60px;
	padding-left:20px;
	padding-top:10px;
	padding-botton:15px;
}

h1 {
	float:left;
	padding-left:10px;
}

nav {
	float:right;
}

nav ul {
  list-style-type: none;
}

nav li {
	float:left;
  	margin-right: 20px;
}

#intro-umbrella {
	float:left;
	clear:left;
}

#hand {
	float:right;
	margin-bottom:-10px;
	width:40%;
}

.heading {
	text-align:center;
}

.column-features img {
	width:100%;
}

#features {
	clear:both;
}

.column-features {
	width:33%;
	float:left;
	padding-right:30px;
}

#screenshot {
	clear:both;
	background-color:#FAFAFA;
	overflow:auto;
}

.shots, .sideshots {
	width:20%;
	float:left;
	padding-right:30px;
}

.sideshots {
	opacity:.1;
}
	
#screens {
	padding-left:30px;
}
	
#people {
	background-color:#FAFAFA;
	overflow:auto;
}

#people img {
	width:100%;
}
	
#john, #amanda, #hamberg, #jessica {
	width:25%;
	float:left;
	padding-right:30px;
}

#yellow-box {
	opacity:.9;
}

.gray-boxes {
	opacity:.1;
}

#circle {
	width:10%;
}

#in {
	background-color:#f8e514;
	overflow:auto;
}

#contact {
	border-bottom-color:#f8e514;
	border-bottom-width:medium;
	border-style:solid;
	border-top-color:white;
	border-left-color:white;
	border-right-color:white;
	
}

#half-phone {
	float:right;
	clear:both;
	width:30%;

#umbrella, #subscribe, #explore, #end {
	width:25%;
	float:left;
	padding-right:30px;
}


