@charset "UTF-8";

body {
	margin-top:0;
	margin-left:0;
	margin-right:0;
	font-family:'Open Sans', sans-serif;
}

.space  {
	max-width:1170px;
	margin: 0 auto;
	padding-left:20px;
	padding-right:20px;
}

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#home {
	background-image:url(../images/laptop.png);
	background-color:#f8e514;
	overflow:hidden;
	
}

header {
	background-color:white;
	overflow:auto;
	margin-top:20px;
	margin-bottom:10px;
	position:fixed;
	width:100%;
	max-width:inherit;
	padding-left:10px;
	padding-right:10px;
	z-index:1;
}

#umbrella-logo {
	float:left;
	width:70px;
	height:70px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:15px;
}

h1 {
	float:left;
	padding-left:10px;
}

nav {
	float:right;
	padding-top:9px;
	font-size:15px;
}

nav ul {
  list-style-type: none;
}

nav li {
	float:left;
  	margin-right:20px;
}

nav li a {
	text-decoration:none;
	font-size:15px;
}


#intro-umbrella {
	float:left;
	clear:left;
	position:relative;
	top:300px;
	margin-top:-50px;
}

#hand {
	float:right;
	margin-bottom:-10px;
	width:40%;
	margin-top:200px;
}

.heading, #ceo {
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}

#home h2 {
	font-size:30px;
}

#home p {
	font-size:22px;
}

#home li {
	font-size:15px;
	margin-bottom:15px;
}

#intro-umbrella a:visited {
	color:#878787;
}

.homebutton {
	float:left;
	padding:15px 30px 14px 30px;
	text-decoration:none;
	border: 3px solid #000;
	margin-right:20px;
	margin-top:30px;
	font-size:22px;
}

.homebutton span {
	position:relative;
	top:-5px;
}

.pe-7s-cloud-download, .pe-7s-look {
	padding-right:15px;
	font-size:30px;
}

.description {
	max-width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:80px;
}

.column-features img, #people img {
	width:100%;
}

#tools:hover, #clock:hover, #music:hover, #person:hover, #arrow:hover, #camera:hover {
	background-color:#f8e514;
	overflow:auto;
	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
}

#features, #gallery, footer, #screenshot, #people {
	clear:left;
}

.column-features {
	width:33%;
	float:left;
	padding-right:30px;
	padding-bottom:40px;
}

.features-text {
	clear:none;
	padding-left:40px;
}

.pe-7s-paper-plane, .pe-7s-camera, .pe-7s-user, .pe-7s-music, .pe-7s-timer, .pe-7s-tools {
	float:left;
	padding-right:20px;
}


#screenshot, #people {
	background-color:#FAFAFA;
	overflow:auto;
	padding-bottom:60px;
}

.shots, .sideshots {
	width:20%;
	float:left;
	padding-right:30px;
}

.sideshots {
	opacity:.1;
}
	
#screens {
	padding-left:30px;
}

#video {
	background-color:#f8e514;
	overflow:auto;
	font-size:50px;
	text-align:center;
}

#video i {
	color:white;
}

#play {
	padding-top:250px;
	padding-bottom:200px;
}

#videoumbrella {
	float:right;
	padding-right:20px;
	width:100px;
}

#videologo {
	float:right;
	padding-right:5%;
	padding-bottom:20px;
	color:white;
	font-size:30px;
}

#john, #amanda, #hamberg, #jessica, #umbrella, #subscribe, #explore, #end { 
	width:25%;
	float:left;
	padding-right:30px;
}

h3 {
	margin-bottom:-10px;
}

#yellow-box {
	opacity:.9;
}

.gray-boxes {
	opacity:.1;
}

#circle {
	width:10%;
}

#in {
	background-color:#f8e514;
	overflow:auto;
}

#in img {
	width:20%;
	float:left;
	padding-right:30px;
	padding-bottom:200px;
	padding-top:150px;
}

#hello {
	margin-bottom:30px;
}

#contact form {
	float:left;
	max-width:45%;
}

#contact input {
  width:100%;
  border:0;
  border-bottom: 1px solid #ccc;
  padding:25px 0;
  font-size:12px;
}

#contact input:focus {
  outline:0;
}

button {
  border:0;
  background:transparent;
  text-decoration:none;
  color:#000;
  font-size:18px;
  padding:0;
  margin-top:25px;
  cursor:pointer;
}

button:hover {
  opacity:.5;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#half-phone {
	float:right;
	width:30%;
	margin-bottom:-15%;
	margin-top:-50px;
}

#contact {
	overflow:hidden;
}

footer {
	clear:both;
	padding-top:50px;
	border-top-color:#f8e514;
	border-top-width:thick;
	border-style:solid;
	border-bottom-color:white;
	border-left-color:white;
	border-right-color:white;
} 

.clear:before, .clear:after{
    content:"";
    display:table;
}

.clear:after{
    clear:both;
}

.clear {
    zoom:1;
}    

.form-wrapper {
    width: 100%;
    border-radius: 4px 0 0 4px;
    border:4px solid #000;
	height:40px;
}

.form-wrapper input {
    padding: 10px 5px;
    float: left;   
    border: 0;    
}

.form-wrapper input:focus {
    outline: 0;
}

.form-wrapper button {
    font-size:25px;
    width:15%;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 10px;
    cursor: pointer;
    color: #ccc;
    text-transform: uppercase;
    background:transparent;
	margin-top:-10px;
}

#umbrella img {
	height:50px;
	width:50px;
	margin-right:15px;
	float:left;
}

#umbrella h2 {
	float:left;
}

#umbrella p {
	clear:left;
}

#subscribe p {
	clear:left;
	padding-top:0;
}

#explore a {
	text-decoration:none;
}

#linkone, #linktwo {
	float:left;
	width:50%;
}

#linktwo {
	padding-left:25px;
}

#linkone a, #linktwo a {
	float:left;
	clear:left;
	font-size:15px;
	padding-bottom:10px;
}

#explore a:hover {
  opacity:.5;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#end p {
	padding-left: 10px;
	border-left: 2px solid #f8e514;
}

small {
	padding-left: 10px;
	font-size:13px;
}

a:link {
	color:black;
}

a:visited {
	color:#f8e514;
}

a:hover {
  opacity:.5;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}